<div class="card">
    <div class="prenom">
        {{ user.id }}
        {{ user.preUt }}
        {{ user.nomFamUt }}
        {{ user.dayBirthUt ? user.dayBirthUt|date('Y-m-d') : ''  }}


    </div>
</div>