{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    {% include '/header.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'search/_recherche.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for user in users %}
                        {% include 'search/_utilisateurs.html.twig' with {user: user} only %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
